name: Build and Publish

on:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  workflow_dispatch:
    inputs:
      doRelease:
        description: 'Publish new release'
        type: boolean
        default: false
        required: false
      buildOnly:
        description: 'Only build ffmpeg'
        type: boolean
        default: false
        required: false
  schedule:
    - cron: '0 12 * * *'

jobs:
  setup:
    runs-on: macos-latest
    steps:
      - run: brew install ffmpeg # For deps for now
      - run: ./build.sh