name: Build and Publish

on:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  workflow_dispatch:
    inputs:
      doRelease:
        description: 'Publish new release'
        type: boolean
        default: false
        required: false
      buildOnly:
        description: 'Only build ffmpeg'
        type: boolean
        default: false
        required: false
  schedule:
    - cron: '0 12 * * *'

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Build
        run: .\build.ps1
        # && tar -zcvf ./x64_64.tar.gz ./ffmpeg/dist_x64_64

      # - name: Release
      #   uses: softprops/action-gh-release@v1
      #   if: startsWith(github.ref, 'refs/tags/')
      #   with:
      #     files: |
      #       arm64.tar.gz
      #       x64_64.tar.gz

  macOS:
    runs-on: macos-12
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Cache Brew deps
        uses: actions/cache@v3.0.9
        with:
          # Paths to cache:
          # /usr/local/Homebrew - installation folder of Homebrew
          # /usr/local/Cellar - installation folder of Homebrew formulae
          # /usr/local/Frameworks, /usr/local/bin, /usr/local/opt - contain (links to) binaries installed by Homebrew formulae
          # /usr/local/lib/python3.8 - Python3 packages installation
          path: |
            /usr/local/Homebrew
            /usr/local/Cellar
            /usr/local/Frameworks
            /usr/local/bin
            /usr/local/opt
            /usr/local/lib/python3.8
          key: brew-deps-${{ hashFiles('./Brewfile') }}-v2
      
      # - name: Instal Brew deps
      #   run: brew bundle

      # Taken from: https://trac.ffmpeg.org/wiki/CompilationGuide/macOS
      - name: Install Brew deps
        run: brew install automake fdk-aac git lame libass libtool libvorbis libvpx opus sdl shtool texi2html theora wget x264 x265 xvid nasm srt frei0r

      # - name: Build for macOS arm64
      #   run: ./build.sh arm64 && tar -zcvf ./arm64.tar.gz ./ffmpeg/dist_arm64 # TODO: Build all the dependencies for M1 and this should be good

      - name: Build for macOS x64_64
        run: ./build.sh x64_64 && tar -zcvf ./x64_64.tar.gz ./ffmpeg/dist_x64_64

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            arm64.tar.gz
            x64_64.tar.gz
  
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Taken from: https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu
      - name: Install system dependencies
        run: sudo apt-get update -qq && sudo apt-get -y install autoconf automake build-essential cmake git-core libass-dev libfreetype6-dev libgnutls28-dev libmp3lame-dev libsdl2-dev libtool libva-dev libvdpau-dev libvorbis-dev libxcb1-dev libxcb-shm0-dev libxcb-xfixes0-dev meson ninja-build pkg-config texinfo wget yasm zlib1g-dev libunistring-dev libaom-dev libdav1d-dev libsdl2-dev libva-dev libvdpau-dev libxcb1-dev libxcb-shm0-dev libxcb-xfixes0-dev nasm libx264-dev libx265-dev libnuma-dev libvpx-dev libfdk-aac-dev libopus-dev frei0r-plugins-dev libaribb24-dev
      
      - name: Build
        run: ./build.sh x64_64 && tar -zcvf ./x64_64.tar.gz ./ffmpeg/dist_x64_64

      # - name: Release
      #   uses: softprops/action-gh-release@v1
      #   if: startsWith(github.ref, 'refs/tags/')
      #   with:
      #     files: |
      #       arm64.tar.gz
      #       x64_64.tar.gz